<h5><i>~~~Coffee Profiles~~~</b></i></h5>
<div align="right">
<h5><span id="datetime"></span></h5>
</div>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://www.verywellhealth.com/thmb/yeH4u7-xV2mfw1M_0MctAv_EWsw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-580106866-58cf635a3df78c3c4f84250c.jpg">

</body>
</html><center>
<h1>Welcome to Coffee Profiles!</h1>
<h3>Your guide to the world of coffee.</h3>
<img src ="https://coffeeandhealth.org/wp-content/uploads/2015/10/Visual-2.png"alt="Image" height="400" width="400">

<p> <br><h5> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h5></center>